@font-face {
  font-family: 'Roobert';
  src: url('./assets/fonts/-Regular-BF67243fd53fdf2.woff') format('woff'),
       url('./assets/fonts/-Bold-BF67243fd540abb.woff') format('woff'),
       url('./assets/fonts/-BoldItalic-BF67243fd540e4b.woff') format('woff'),
       url('./assets/fonts/-Heavy-BF67243fd53e164.otf.woff') format('woff'),
       url('./assets/fonts/RoobertTRIAL-HeavyItalic-BF67243fd53f821.woff') format('woff'),
       url('./assets/fonts/RoobertTRIAL-LightItalic-BF67243fd51b2c9.woff') format('woff'),
       url('./assets/fonts/RoobertTRIAL-Medium-BF67243fd53e059.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RoobertTRIAL';
  src: url('./assets/fonts/-Medium-BF67243fd53e059.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
body{
  font-family: "RoobertTRIAL";
  font-weight: normal;
  font-size: 16px; 
  color: white;
}
p,span,a{
  color: #eaedf4;
  font-size: 17px;
  font-family: sans-serif;
  word-spacing:normal;
  letter-spacing: 10;

}
h1,h2{
font-family:"RoobertTRIAL";
font-weight: 700;
font-family: system-ui;
}
#main{
  width: 95%;
  border-radius: 50px;
  margin-top: 10px;
  left: 0;
  right: 0;
}
button{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: system-ui;

}
button:hover{
  background:linear-gradient(45deg, #3112fb, transparent);
  border: 1px solid rgba(75, 75, 75, 0.279);
  color: white;
}

@media (max-width:1024px) {
  #main #menu{
    background-color: #111212;
  }
  #main #menu li{
    border-color: #1e1e1f;
    margin: 0;
  }
}